<h1>All The Guests</h1>

<ul>
  <% @guests.each do |guest| %>
    <li><%= guest.name %></li>
  <% end %>
</ul>


<% @guests.each do |episode| %>
    <li><%= "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")} - #{episode.rating}" %></li>
 <%= link_to "Appeaarances", Episode.id , episode_path(episode) %>
  <% end %>
