<h1>All The Guests</h1>

<ul>
  <% @guests.each do |guest| %>
    <li><%= guest.name %></li>
  <% end %>
</ul>

<%= form_for @guests do |g| %>
<%= g.label :name %>
<%= g.text_field :episode %>

<% g.submit %>

<% end %>