<h1> Guest Show Page</h1>

<% @guest.episodes.each do |episode| %>
<p>Episode Date: <%= link_to episode.date, episode_path(episode) %></p>
<% end %>

<% @guest.appearances.each do |appearance|%>
<p>Rating for the Appearance: <%= appearance.rating %></p>
<% end %>


