<h1>Guest Details</h1>

<p><%= @guest.name %></p>
<p><%= @guest.occupation %></p>
<br>
<h3>Episode Appearances</h3>
<hr>

<% @guest.episodes.each do |episode| %>
    <p>Episode: <%= link_to episode.date, episode_path(episode) %></p>
    <p>Appearance Rating: <%= episode.appearances.first.rating %></p>
    <hr>
<% end %>


