<h1> Episode Show Page </h1>


<p><b> Date: </b></p>
<%= @episode.date%>
<br>
<br>
<p><b>Guest list: </b></p>
<% @episode.guests.each do |guest| %>
<%= link_to guest.name, guest_path(guest) %>
<br>
<br>
<% end %>