<%# On the episode show page, a user should see:

Episode date
A list of the guests who were on that episode
Each guest's name should link to the Guest Show page %>

<h2>Episode date : <%= @episode.date%></h2>
On the Episode show page, show the average rating of the Appearances for the episode.


<h3>Average Rating : <%=@episode.avg%></h3>
<h3>Guest list</h3>
<ul>
  <%@episode.guests.each do |g|%>
    <p><%=link_to g.name, guest_path(g)%></p>
  <%end%>
</ul>