<h1><%= @episode.date %></h1>
<% if @episode.guests.count > 0 %>
<h3>Appearances:</h3>
    <% @episode.guests.each do |guest| %>
        <li>
            <%= link_to guest.name, guest_path(guest) %>
        </li>
    <% end %>

<% else %>

    <%= "No Appearances yet, create one!" %>

<% end %>
